<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.1/dist/paper.min.css">
  <link rel="stylesheet" href="./css/style.css">

  <title>Document</title>
</head>

<body>

  <div class="container paper margin-top-large">
    <h1>Character</h1>

    <input type="text" name="num-one" id="num-one">

    <br><br>



    <h3>Attack Roll</h3>

    <p>Results: <output id="subResult" form="calcForm"></output></p>



    <br><br>
    <div class="row">
      <input class="col-md-2" type="number" name="modifier" id="attackModifier" value="0"><b>+</b>
      <input type="number" name="proficiency" class="col-md-2" id="attackProficiency" value="0"><b>-</b>
      <div class="col-md-4">
        <span id="attackResult">100</span><br>
        <button id="roll-btn" type="button">Roll</button><br>
        <input type="checkbox" id="attAdd" />
        <label for="attAdd"> Advantage</label><br>
        <input type="checkbox" id="addDis" />
        <label for="addDis"> disAdvantage</label><br>
      </div>
    </div>



    <h1 id="resultArea"></h1>

    <h3>Damage Roll</h3>

    <p>Results: <output id="subResult" form="calcForm"></output></p>

    <div class="row">
      <input class="col-md-2" type="number" name="modifier" id="damageModifier" value="0"><b>+</b>
      <input type="number" name="proficiency" class="col-md-2" id="damageProficiency" value="0"><b>-</b>
      <div class="col-md-4">
        <span id="damageResult">100</span><br>
        <button id="roll-btn" type="button">Roll</button><br>
        <input type="checkbox" id="disAdd" />
        <label for="attAdd"> Advantage</label><br>
        <input type="checkbox" id="addDis" />
        <label for="addDis"> disAdvantage</label><br>
      </div>
    </div>
  </div>



  <script>
    $("#roll-btn").click(function (data) {
      $("#subResult").val(calculate($("#num-one").val()).total);
      if ("#calculate") {
        $("#totalScore").show()
        $("#allRolls").text(data.allRolls)
        $("#subResults").text(data.subResults)
      }
    })




  </script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/diceRoller.js"></script>
</body>

</html>