<main class="container">
<div class="paper container margin-bottom-large">
    <div class="row">
        <h1>Testing</h1>
    </div>
    <div class="row">
        <div class="col">
            <a href="/login">Login Page</a>
        </div>
        <div class="col">
            <a href="/campaigns">Campaigns Page</a>
        </div>
    </div>

    
</div>
</main>