
<div class="paper container margin-bottom-large">
  <div class="text-center">
    <h1>Campaigns</h1>
  </div>
  
  <div class="flex-center">
    
    {{#each campaigns}}
    <div class="collapsible">
      <input id="collapsible{{this.id}}" type="checkbox" name="collapsible">
        <label for="collapsible{{this.id}}">{{this.name}}</label>
          <div class="collapsible-body">
            <h3>Characters</h3>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="paper-btn">+ New Character</th>
                </tr>

              </thead>
              <tbody>
              {{#each this.characters}}
              <tr>
                <td>{{this.name}}</td>
                <td class="paper-btn margin">View</td>
                <td class="paper-btn margin">Update</td>
                <td class="paper-btn margin">Action</td></d>
              </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
    </div>
    {{/each}}
  </div>
  
</div>